@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #363538;
    --secondary-color: #8D8C8A;
    --accent1-color: #408697;
    --accent2-color: #CF8B64;

    --heading-font: "lato", sans-serif;
    --paragraph-font: "lato", sans-serif;

    --nav-background-color: #408697;
    --nav-link-color: #3A3634;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #363538;
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}

body {
    font-family: var(--paragraph-font);
    max-width: 800px;
    padding: 20px;
    margin:0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a :visited {
    color: var(--nav-hover-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

main {
    max-width: 840px;
}

.hero {
    position:relative;
    margin-top: 10px;
    
}

.hero > img {
    display: block;
    width: 100%;
    height: auto;
    
}
 
article {
    position: absolute;
    float: right;
    margin: 0;
    right: 21%;
    width: 55%;
    height: 45%;
    background: rgb(161, 215, 233, 0.6);
    border: 1px solid rgb(0, 0, 0, 0);
    top: 57px;

}

article img {
    float: right;
    width: 25%;
    margin: 0.6rem;
    margin-left: auto;

}

article p {
    margin-top: -3px;
    text-align: left;
    ;
}


h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    background: rgba(236, 110, 38, 0.6) ;
    margin-top: 0;
    top: 15px;
    color: #ffffff;
    
}
