

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    color: #333;
    background-color: #fff;
}
header {
    margin: 0 auto;
    width: 650;
}
h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: center;
}
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #dadada;
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}
legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}
label, input, button, select, textarea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
#pet {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
    color: blue;
}
button {
    margin: 1rem;
    background-color: navy;
    width: 70%;
    margin: 0 auto;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
button:hover {
    background-color: darkgreen;
}
footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}
